/* Cuerpo de la página */
body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  background-image: url('fondo-pc2.png'); /* fondo PC actualizado */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;    /* centra vertical */
  text-align: center;
}

/* Textos centrados */
.textos h1, .textos h2,
